body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  font-weight: 900;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}
.logoStranger{
  width: 150px;
  position: fixed;
  top: 10px;
  left: 10px;
}
.alura-logo {
  width: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}
@media (min-width: 1200px) {
  body {
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media (max-width:576px) {
  .logoStranger{
    width: 80px;
  }
}
input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
  
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
}
button:hover{
  background-color: #38070B ;
  color: white;
  transition: 0.4s;
}
.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
  transition: opacity 0.61s;
}
